
.selector {
    padding: 10px;

}
.collapseWrapper {
    margin-left: 20px;
    margin-right: 100px;
}
.button {
    margin: 20px;
}
.questionTable {

    width: 100%;
}
.questionText {
    vertical-align: top;
    background-color: #ffe4c4;
}
.idAndTags {
    background-color: #add8e6;
    
    vertical-align: top;
    width: 200px;

}